<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("Vaizen - Invest in Content Creator Brands") }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% include "navbar.njk" %}
    
    {% block content %}{% endblock %}
    
    {% include "footer.njk" %}
    
    <script src="/js/main.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
