<header>
    <div class="container">
        <nav>
            <div class="logo">{{ siteName | default("Vaizen") }}</div>
            <ul class="nav-links">
                <li><a href="/for-smes.html">For SMEs</a></li>
                <li><a href="/for-creators.html">For Creators</a></li>
                <li><a href="/for-investors.html">For Investors</a></li>
                <li><a href="/#brands">Browse Brands</a></li>
                <li><a href="#" class="cta-button">Get Started</a></li>
            </ul>
        </nav>
    </div>
</header>
